In [1]:
import pandas as pd
import numpy as np
from binance.client import Client
import websocket
import json
import threading
from datetime import datetime, timedelta
from collections import deque
import os
from dotenv import load_dotenv

Websocket

In [2]:
websocket_data = []

def on_message(ws, message):
    data = json.loads(message)
    wdata = data['k']
    timestamp = pd.to_datetime(wdata['t'], unit='ms')
    price = float(wdata['c'])
    websocket_data.append((timestamp, price))
    
def on_open(ws):
    payload = {"method": "SUBSCRIBE",
            "params": ["btcusdt@kline_1s"],
               "id": 1}
    ws.send(json.dumps(payload))
    time = threading.Timer(1440, ws.close)
    time.start()
def on_error(ws, error):
    print("Error:", error)

def on_close(ws, close_status, close_message):
    print("WebSocket closed")

def get_websocket_data():
    ws = websocket.WebSocketApp("wss://stream.binance.com:9443/ws",
                                on_open=on_open,
                                on_message=on_message,
                                on_error=on_error,
                                on_close=on_close )
    ws.run_forever()

thread = threading.Thread(target=get_websocket_data, daemon = True)
thread.start()
thread.join()

def data_metrics_analysis(df):
    try:
        df['time_m'] = df['timestamp'].dt.floor('min')
        df = df[df["time_m"] > min(df["time_m"])]
        
        dp_df = df["time_m"].value_counts().sort_index().reset_index()
        dp_df.columns = ["time_m", "Volume"]
        dp_df = dp_df.head(10)

        dp_df["Highest"] = dp_df["Volume"].cummax()
        dp_df["Lowest"] = dp_df["Volume"].cummin()
        dp_df["Mean"] = dp_df["Volume"].expanding().mean()
        return dp_df
    except Exception as e:
        raise Exception(f"Data metrics calculation failure")

def moving_average(df):
    try:
        moving_avg = df.groupby("time_m")["price"].mean().reset_index()
        moving_avg["Moving_avg_10"] = moving_avg["price"].rolling(window=10).mean()
        moving_avg["Moving_avg_20"] = moving_avg["price"].rolling(window=20).mean()
        moving_avg["Moving_avg_price_10"] = moving_avg["price"] + moving_avg["Moving_avg_10"]
        return moving_avg
    except Exception as e:
        raise Exception(f"Moving average calculation failure")
    
main_df = pd.DataFrame(websocket_data, columns=["timestamp", "price"])
metrics_df = data_metrics_analysis(main_df)
moving_avg_df = moving_average(main_df)

Error: 'k'
WebSocket closed

Highest, Lowest, Mean, Volume of data points per minute

In [8]:
metrics_df

               time_m  Volume  Highest  Lowest  Mean
0 2025-06-16 16:19:00      60       60      60  60.0
1 2025-06-16 16:20:00      60       60      60  60.0
2 2025-06-16 16:21:00      60       60      60  60.0
3 2025-06-16 16:22:00      60       60      60  60.0
4 2025-06-16 16:23:00      60       60      60  60.0
5 2025-06-16 16:24:00      60       60      60  60.0
6 2025-06-16 16:25:00      60       60      60  60.0
7 2025-06-16 16:26:00      60       60      60  60.0
8 2025-06-16 16:27:00      60       60      60  60.0
9 2025-06-16 16:28:00      60       60      60  60.0

Moving Average

In [4]:
moving_avg_df

,time_m,price,Moving_avg_10,Moving_avg_20,Moving_avg_price_10
0,2025-06-16 16:18:00,107666.688437,NaN,NaN,NaN
1,2025-06-16 16:19:00,107638.026167,NaN,NaN,NaN
2,2025-06-16 16:20:00,107649.078833,NaN,NaN,NaN
3,2025-06-16 16:21:00,107666.301333,NaN,NaN,NaN
4,2025-06-16 16:22:00,107655.127167,NaN,NaN,NaN
5,2025-06-16 16:23:00,107665.636000,NaN,NaN,NaN
6,2025-06-16 16:24:00,107670.952000,NaN,NaN,NaN
7,2025-06-16 16:25:00,107649.488667,NaN,NaN,NaN
8,2025-06-16 16:26:00,107629.141667,NaN,NaN,NaN
9,2025-06-16 16:27:00,107619.384667,107650.982494,NaN,215270.367160
10,2025-06-16 16:28:00,107612.967000,107645.610350,NaN,215258.577350
11,2025-06-16 16:29:00,107626.156000,107644.423333,NaN,215270.579333
12,2025-06-16 16:30:00,107621.096167,107641.625067,NaN,215262.721233
13,2025-06-16 16:31:00,107646.735500,107639.668483,NaN,215286.403983
14,2025-06-16 16:32:00,107688.956167,107643.051383,NaN,215332.007550
15,2025-06-16 16:33:00,107688.467500,107645.334533,NaN,215333.802033
16,2025-06-16 16:34:00,107658.041167,107644.043450,NaN,215302.084617
17,2025-06-16 16:35:00,107647.789000,107643.873483,NaN,215291.662483
18,2025-06-16 16:36:00,107672.067500,107648.166067,NaN,215320.233567
19,2025-06-16 16:37:00,107667.032500,107652.930850,107651.956672,215319.963350
20,2025-06-16 16:38:00,107670.541833,107658.688333,107652.149342,215329.230167
21,2025-06-16 16:39:00,107685.543500,107664.627083,107654.525208,215350.170583
22,2025-06-16 16:40:00,107686.154000,107671.132867,107656.378967,215357.286867
23,2025-06-16 16:41:00,107818.377833,107688.297100,107663.982792,215506.674933
24,2025-06-16 16:42:00,107830.921071,107702.493590,107672.772487,215533.414662

API

In [5]:
load_dotenv()

def load_klines(symbol, interval, lookback, client):
    try:
        klines = client.get_historical_klines(symbol, interval, lookback)
        return klines
    except Exception as e:
        raise Exception(f"API call failure")

def transform_data(klines):
    try:
        selected_data = [(i[0], float(i[4])) for i in klines]
        raw_df = pd.DataFrame(selected_data, columns=["timestamp", "price"])
        raw_df["timestamp"] = pd.to_datetime(raw_df["timestamp"], unit = "ms")
        return raw_df
    except Exception as e:
        raise Exception(f"Data transformation failure")

api_key = os.getenv("BINANCE_API_KEY")
api_secret = os.getenv("BINANCE_API_SECRET")

if not api_key or not api_secret:
    raise Exception("Missing API credentials.")

client = Client(api_key, api_secret)
symbol = "BTCUSDT"
interval = "1s"
lookback = "1700 sec ago UTC"

data = load_klines(symbol, interval, lookback, client)
raw_df = transform_data(data)
metrics_api_df = data_metrics_analysis(raw_df)
moving_avg_api_df = moving_average(raw_df)

Highest, Lowest, Mean, Volume of data points per minute

In [6]:
metrics_api_df

               time_m  Volume  Highest  Lowest  Mean
0 2025-06-16 16:15:00      60       60      60  60.0
1 2025-06-16 16:16:00      60       60      60  60.0
2 2025-06-16 16:17:00      60       60      60  60.0
3 2025-06-16 16:18:00      60       60      60  60.0
4 2025-06-16 16:19:00      60       60      60  60.0
5 2025-06-16 16:20:00      60       60      60  60.0
6 2025-06-16 16:21:00      60       60      60  60.0
7 2025-06-16 16:22:00      60       60      60  60.0
8 2025-06-16 16:23:00      60       60      60  60.0
9 2025-06-16 16:24:00      60       60      60  60.0

Moving Average

In [7]:
moving_avg_api_df

,time_m,price,Moving_avg_10,Moving_avg_20,Moving_avg_price_10
0,2025-06-16 16:14:00,107665.707308,NaN,NaN,NaN
1,2025-06-16 16:15:00,107646.601833,NaN,NaN,NaN
2,2025-06-16 16:16:00,107668.793500,NaN,NaN,NaN
3,2025-06-16 16:17:00,107661.038333,NaN,NaN,NaN
4,2025-06-16 16:18:00,107674.522667,NaN,NaN,NaN
5,2025-06-16 16:19:00,107638.026167,NaN,NaN,NaN
6,2025-06-16 16:20:00,107649.078833,NaN,NaN,NaN
7,2025-06-16 16:21:00,107666.301333,NaN,NaN,NaN
8,2025-06-16 16:22:00,107655.127167,NaN,NaN,NaN
9,2025-06-16 16:23:00,107665.636000,107659.083314,NaN,215324.719314
10,2025-06-16 16:24:00,107670.952000,107659.607783,NaN,215330.559783
11,2025-06-16 16:25:00,107649.488667,107659.896467,NaN,215309.385133
12,2025-06-16 16:26:00,107629.141667,107655.931283,NaN,215285.072950
13,2025-06-16 16:27:00,107619.384667,107651.765917,NaN,215271.150583
14,2025-06-16 16:28:00,107612.967000,107645.610350,NaN,215258.577350
15,2025-06-16 16:29:00,107626.156000,107644.423333,NaN,215270.579333
16,2025-06-16 16:30:00,107621.096167,107641.625067,NaN,215262.721233
17,2025-06-16 16:31:00,107646.735500,107639.668483,NaN,215286.403983
18,2025-06-16 16:32:00,107688.956167,107643.051383,NaN,215332.007550
19,2025-06-16 16:33:00,107688.467500,107645.334533,107652.208924,215333.802033
20,2025-06-16 16:34:00,107658.041167,107644.043450,107651.825617,215302.084617
21,2025-06-16 16:35:00,107647.789000,107643.873483,107651.884975,215291.662483
22,2025-06-16 16:36:00,107672.067500,107648.166067,107652.048675,215320.233567
23,2025-06-16 16:37:00,107667.032500,107652.930850,107652.348383,215319.963350
24,2025-06-16 16:38:00,107670.541833,107658.688333,107652.149342,215329.230167
25,2025-06-16 16:39:00,107685.543500,107664.627083,107654.525208,215350.170583
26,2025-06-16 16:40:00,107686.154000,107671.132867,107656.378967,215357.286867
27,2025-06-16 16:41:00,107818.377833,107688.297100,107663.982792,215506.674933
28,2025-06-16 16:42:00,107831.048966,107702.506380,107672.778882,215533.555345